html{
    font-size: 16px;
}
body {
    margin:0;
    font-family: 'Orbitron', sans-serif;
    color:#3C3C3B;
    min-width: 320px;
    background-color:white;
}

* {
    box-sizing: border-box;  
  }

.layout{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 2rem 4rem auto 2rem;
    grid-template-areas: 
        "image"
        "about"
        "header"
        "nav"
        "main"
        "footer" ;
    min-height:100vh;
}
/* oooooooooooooooooooooooooooooooooooooooooooooooooooooooo */
.header, .nav, .footer, .social-media {
    background-color:#9A9992;
}

.header {
    grid-area: header;
    z-index: 1;
}

h1 {
    text-align: center;
    color:#3C3C3B;
    line-height: 4rem;
    font-size: 2em;
    padding:0.5em;
    margin: 0%;;
}
/* oooooooooooooooooooooooooooooooooooooooooooooooooooooooo */
.nav {
    grid-area: nav;
    border-bottom: 0.2rem solid blueviolet;
}

.menu {
    display:flex;
    flex-wrap:wrap;
    list-style: none;
    padding: 1em;
    margin: 0;
    justify-content:space-evenly;
    align-items: center;
    
}

.menu ul{
    justify-content:center;
}

.menu a {
    text-decoration: none;
    color:lightgray;
    font-size: 0.6em;
}

.hex:before {
    content: " ";
    width: 0; 
    height: 0;
    position: absolute;
    left: -1.5em;
    border-right: 1.5em solid blueviolet;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
} 

.hex {
    margin-top: 30px;
    width: 3em;
    height: 2em;
    top: -0rem;
    background-color: blueviolet;
    position: relative;
    text-align: center;
    line-height: 2em;
    min-width:2em;
}

.hex:after {
    content: "";
    width: 0;
    height:0;
    position: absolute;
    right: -1.5em;
    border-left: 1.5em solid blueviolet;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent; 
}
/* oooooooooooooooooooooooooooooooooooooooooooooooooooooooo */
.background {
    grid-area: image;
    padding:0px;
    max-width: fit-content;
    width:100vw;
    padding:0px;
}
/* oooooooooooooooooooooooooooooooooooooooooooooooooooooooo */
.hr {
    visibility: hidden;
}

.about{
    grid-area: about;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    margin-left:20px;
    margin-right:20px;
    line-height:3rem;
}
/* oooooooooooooooooooooooooooooooooooooooooooooooooooooooo */
.content {
    grid-area: main; 
}

main{
    background-color: white;
    text-align: justify;
    padding:1rem;
}

.gallery-container {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding:1rem;
}

.gallery{  
    padding:1rem;
    margin:1rem;
    border-style:solid;
    border-color:#3C3C3B;
    border-width:0.1rem;
    border-radius: 0.5rem;
    box-shadow: 5px 10px #9A9992;
}

.gallery img, .desc{ 
    width:50vw;
    min-width: 30vw;
    max-height: 80vh;
}

.gallery:hover{
    background-color: #3C3C3B;
    color:lightgray;
}

.desc{
    text-align: center;
    margin:auto;
}

.gallery {
    position: relative;
  }
  
.gallery > img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }
  
fieldset {
    border-radius: 4px;
}

.contact-form {
    text-align: center;
    margin:auto;
    width:fit-content;
}

.contact-form > fieldset input, #message{
    border-radius: 4px;
    font-family: 'Orbitron', sans-serif ;
}

input, #message{
    padding:5px;
    margin:5px;
    border-width: 2px;
}

input:focus, #message:focus {
    background-color:lightgray;
    color:#3C3C3B;
    outline-color: blueviolet;
}

.submit {
    box-shadow: 3px 3px lightgray;
    border-radius: 3px;
}

.submit:hover {
    cursor:pointer;
    background-color: blueviolet;
    color:lightgray;
}
/* oooooooooooooooooooooooooooooooooooooooooooooooooooooooo */
.bottom {
    grid-area: footer;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    background-color:#9A9992;
    align-items: center;
    height:2.5rem;
    padding-left:1rem;
    padding-right:1rem;
}

.sm-menu {
    display:flex;
    list-style: none;
    padding: 0%;
    margin:0%;
    justify-content: flex-start;
    align-items: center;
}

.sm-menu li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.sm-menu i {
    font-size:2em;
}
/* oooooooooooooooooooooooooooooooooooooooooooooooooooooooo */
.bottom  a {
    text-decoration: none;
}
/* oooooooooooooooooooooooooooooooooooooooooooooooooooooooo */
/* layout for tablet */
@media screen and (min-width: 768px) {
    .layout{
        display:grid;
        grid-template-columns: 40vw 1fr;
        grid-template-rows: 100px auto 3fr auto;
        grid-template-areas: 
            "nav header"
            "about image"
            "main main"
            "footer footer" ;
    }
    .background {
        max-width: 100%;
    }
    .header {
        border-bottom: 0.2rem solid blueviolet;
    }
    h1 {
        font-size: auto;
    }
    h2 {
        text-align: center;
    }
    .hex {
        margin-top: 67px;
    }
    .hr {
        visibility:visible;
    }
    .about{
        margin-right:0px;
    }
    #about + p{
        margin-right:50px;
        margin-left:50px;
    }
    #contact + p{
        margin-right:50px;
        margin-left:50px; 
    }
    .menu{
        justify-content: space-around;
        padding-left:10px;
        padding-right: 10px;
    }
    .gallery img, .desc{ 
        width:25vw;
        min-width: 20vw;
    }
    .gallery-container {
        justify-content: space-evenly;   
    }   
}
/* layout for laptop */
@media screen and (min-width: 1200px) {
    .layout{
        display:grid;
        grid-template-columns: 35vw 1fr 100px;
        grid-template-rows: 100px auto 3fr auto;
        grid-template-areas: 
            "nav header header"
            "about image image"
            "main main main"
            "footer footer footer" ;
    }
    .background {
        max-width: 100%;
    }
    .header {
        border-bottom: 0.2rem solid blueviolet;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        text-align: center;
    }
    .hex {
        margin-top: 67px;
    }
    .gallery img, .desc{ 
        width:15vw;
        min-width: 15vw;
    }
    .gallery-container {
        justify-content: space-evenly;   
    }
}